.sliderMain{
    width: 1000px;
    height: 80vh;
    margin: auto;
    margin-top: 10px;
    border: 1px solid red;
}
.slide-image{
    width: max-content;
    height: inherit;
}
.buttons{
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.buttons button {
    margin-left: 10px;
}